@import url("popup.css");

.create-lesson-page {
    margin: 30px auto;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    border-radius: 40px;
    background: #ffdba9;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}

.create-lesson-page form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newLesson, .LessonPart, .exemple {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.LessonPart, .exemple {
    padding: 20px;
    margin-bottom: 20px;
}

.erreur {
    color: red;
    font-weight: bold;
}

.ami-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .create-lesson-page {
        padding: 20px;
        margin: 0;
        border-radius: 0;
    }
}
