@import url("popup.css");

.newLesson{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.LessonPart{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.exemple{
    display: flex;
    flex-direction: column;
    gap: 10px;
}