body {
  font-family: 'Inter', sans-serif;
  background-color: #ffc97d;
  margin: 0;
}

header {
  display: grid;
  height: 150px;
  background-color: #ffc067;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 0px 65px;
  align-items: center;
  grid-template-columns: auto 2fr 1fr;
  gap: 20px;
}

header > picture > img {
  width: 100%;
  max-height: 150px;
  cursor: pointer;
  max-width: 400px;
}
header > picture {
  display: flex;
  height: 100%;
  justify-content: center;
}

header > div {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  justify-content: end;
}

header > form {
  width: 100%;
  display: flex;
  justify-content: center;
}

header > *:nth-child(2) {
  justify-self: center;
}

header > *:nth-child(3) {
  justify-self: end;
}

.button {
  all: unset;
}

select {
  background: #0ab1bd;
  padding: 20px;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 20px;
}

.signalement > span {
  background-color: rgb(167, 48, 48) !important;
  box-shadow: 0 12px 0 rgb(114, 34, 34) !important;
}

.signalement > span:hover {
  background-color: #fff !important;
  box-shadow: 0px 8px 2px #cacacabf !important;
}
.signalement:has(span:hover) p {
  color: rgb(114, 34, 34) !important;
}

.button,
.searchbar,
.input,
.flatinput,
.textarea {
  display: flex;
  position: relative;
  align-items: center;
  padding: 20px;
  justify-content: flex-start;
  gap: 20px;
  width: max-content;
  height: max-content;
}

.searchbar {
  width: 60%;
  height: 100px;
  padding: 0 35px;
  justify-content: flex-start;
  gap: 20px;
}

.button > span,
.searchbar > span,
.input > span,
.flatinput > span,
.textarea > span {
  position: absolute;
  inset: 0;
  background: #0ab1bd;
  border-radius: calc(infinity * 1px);
  cursor: pointer;
  z-index: 0;
  box-shadow: 0px 8px 2px #007881bf;
  transition: background ease-out 0.2s;
}

.button.disabled > span {
  background: #8b8b8b;
  box-shadow: 0px 8px 2px #2e2e2ebf;
  cursor: no-drop;
}

.button.disabled > span:hover {
  background: #8b8b8b;
  box-shadow: 0px 8px 2px #2e2e2ebf;
}

.button.disabled:has(span:hover) p {
  color: white;
}

.button.disabled:has(span:active) {
  transition: none;
  filter: none;
  transform: none;
}

.button > p,
.searchbar > p {
  font-size: min(1.7vw, 25px);
  line-height: 39px;
  color: #fff;
  margin: 0;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  transition: color ease-out 0.2s;
}

.button > img,
.button > svg,
.searchbar > img {
  z-index: 1;
  pointer-events: none;
}

svg {
  fill: white;
}

.button > svg > path {
  transition: fill ease-in-out 0.2s;
}

.button:has(span:hover) svg > path {
  fill: #0ab1bd;
}

.button:has(span:hover) p {
  color: #0ab1bd;
}

.button > span:hover {
  background-color: #fff;
  box-shadow: 0px 8px 2px #cacacabf;
}

.button:has(span:active) {
  transition: none;
  filter: none;
  transform: translate(0px, 8px);
}

.button > span:active {
  box-shadow: none !important;
}

.checkbox {
  transform: scale(0.8) translate(-11%, 10%);
}

.checkbox > svg {
  cursor: pointer;
}

.checkbox > svg rect,
.checkbox > svg circle,
.checkbox > svg filter {
  transition: all ease-in-out 0.2s;
}

.input {
  width: calc(100% - 40px);
  max-width: 600px;
  height: 100px;
  padding: 0 20px;
}

.input > input {
  all: unset;
  width: 100%;
  z-index: 2;
  color: white;
  font-size: 20px;
}

.input > img {
  z-index: 2;
  height: 50%;
}

.input > input::-webkit-input-placeholder {
  color: white;
}

.flatinput {
  height: 80px;
  padding: 0 35px;
  cursor: default;
}

.flatinput > span {
  box-shadow: none;
  cursor: default;
}

.flatinput > input {
  all: unset;
  z-index: 2;
  color: white;
  font-size: min(1.7vw, 25px);
  cursor: text;
}

.flatinput > img {
  z-index: 2;
  height: 50%;
}

.flatinput > input::-webkit-input-placeholder {
  color: white;
}

.input > span,
.textarea > span,
.flatinput > span {
  cursor: default;
}

.textarea > textarea {
  all: unset;
  width: 100%;
  height: 100%;
  word-break: break-all;
  font-size: 25px;
  padding: 10px;
  color: white;
  z-index: 2;
}

.textarea > textarea::-webkit-input-placeholder {
  color: white;
}

.textarea > span {
  border-radius: 50px;
}

.button > span {
  position: absolute;
  inset: 0;
  background: #0ab1bd;
  border-radius: 50px;
  cursor: pointer;
  z-index: 0;
  box-shadow: 0px 8px 2px #007881bf;
  transition: background ease-out 0.2s;
}

.button svg,
.button .notif-dot {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.notif-dot {
  position: absolute;
  top: 0; /* coin supérieur */
  right: 0; /* coin droit */
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white; /* optionnel pour un contour */
  display: none;
  z-index: 2;
}

.notif-btn.has-notif .notif-dot {
  display: block;
}

/* Hover sur le bouton */
.button > span:hover {
  background-color: #fff;
  box-shadow: 0px 8px 2px #cacacabf;
}

/* Overlay */
.modal-streak {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Popup */
.modal {
  background: #ffc97d;
  width: 100%;
  max-width: 420px;
  padding: 25px;
  border-radius: 14px;
  position: relative;
}

/* Close button */
.closeModal {
  position: absolute;
  top: 12px;
  right: 14px;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.closeModal {
  border-radius: 75px;
  background-color: #0ab1bd;
  color: white;
  border: none;
  padding: 21px 36px;
  font-size: 1.3rem;
  min-height: 50px;
  cursor: pointer;
  box-shadow: 0 12px 0 #087b86;
}

.closeModal:hover {
  background-color: #fff;
  color: #087b86;
  box-shadow: 0px 8px 2px #cacacabf;
}

#hStreak {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 9%;
  margin-top: 17%;
}

.streakContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.streakContent p {
  text-align: center;
}

@media (max-width: 1300px) {
  header > picture > img {
    width: auto;
    height: 100%;
  }
}
