.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFC067;
    padding: 3rem;
    border-radius: 1.2rem;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

h1{
    justify-self: center;
    color: #0AB1BD;;
}

input {
    padding: 0.75rem;
    font-size: 1.1rem; 
    border: 1px solid #ccc;
    border-radius: 0.6rem;
}

.back-link {
    text-align: center;
    margin-top: 1.5rem;
}

.back-link a {
    color: #0AB1BD;
    text-decoration: none;
    font-size: 1rem;
}

.back-link a:hover {
    text-decoration: underline;
}

.connexion {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    font-size: 1rem;
}

.connexion:hover {
    text-decoration: underline;
}

h3 {
    color: rgb(128, 0, 0);
}

i {                 
    position: relative;
    right:1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.log-container .flatinput > span {
    position: absolute;
    inset: 0;
}

.log-container .flatinput {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}


.log-container .flatinput i {
    z-index: 2;
    position: absolute;
    right: 1rem;
}

@media (max-width: 515px) {
    .log-container{
        margin: auto;
        width: auto;
    }
}