h1 {
    text-align: center;
    color: #333;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 32px;
}

.friend-requests {
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e4e4e4;
}

.request:last-child {
    border-bottom: none;
}

.request-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 48px;
    height: 48px;
    background: #d8d8ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.request-buttons button {
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.accept {
    background: #5d915f;
    color: white;
}

.accept:hover {
    background: #2db634;
}

.reject {
    background: #ff4444;
    color: white;
}

.reject:hover {
    background: #7e2121;
}

.invite-box {
    max-width: 700px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.invite-box h2 {
    margin-bottom: 30px;
}

form input {
    width: 96%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #3f51b5;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background: #3548a5;
}

.retour {
    border-radius: 75px;
    background-color: #0AB1BD;
    color: white;
    border: none;
    padding: 21px 36px;
    font-size: 1.575rem;
    min-height: 69px;
    cursor: pointer;
    box-shadow: 0 12px 0 #087b86;
}

.retour:hover {
    background-color: #fff;
    color: #087b86;
    box-shadow: 0px 8px 2px #CACACABF;
}

.retour {
    margin-left: 1%;
    margin-top: 1%;
}