.container {
  justify-self: center;
  position: relative;
  width: 90%;
  max-width: 1000px;
}

button {
  border-radius: 75px;
  background-color: #0AB1BD;
  color: white;
  border: none;
  padding: 21px 36px;
  font-size: 1.575rem;
  min-height: 69px;
  cursor: pointer;
  box-shadow: 0 12px 0 #087b86;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.logout {
  background-color: #8e2a2a;
  box-shadow: 0 12px 0 #5e1d1d;
}

button:hover {
  background-color: #fff;
  color: #087b86;
  box-shadow: 0px 8px 2px #CACACABF;
}

.retour {
  margin-top: 1%;
  margin-left: 1%;
}

.profile-card {
  background-color: #f8b65d;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 2% 3%;
  display: flex;
  align-items: center;
  gap: 3%;
  border-bottom: 3px solid #10b3c6;
  margin-top: 1%;
}

.avatar {
  width: 35%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.info {
  flex: 1;
  text-align: left;
}

.info h2 {
  margin: 0;
  font-size: 1.5rem;
}

.info .username {
  margin: 0.5% 0;
  color: black;
}

.info .bio {
  margin-bottom: 2%;
  font-size: 0.95rem;
}

.stats {
  display: flex;
  align-items: center;
  gap: 6%;
  margin-bottom: 2%;
}

.stats .number {
  font-weight: bold;
  font-size: 1.3rem;
}

.stats .label {
  margin-left: 0.3rem;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 2%;
  border-bottom: 1px solid #10b3c6;
  padding-bottom: 1%;
}

.tabs span {
  font-weight: 500;
  cursor: pointer;
}

.quiz-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
}

.quiz-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 40%;
  padding: 2%;
  text-align: left;
}

.quiz-card h3 {
  margin: 1% 0;
}

.quiz-card .tags {
  display: flex;
  gap: 4%;
}

.quiz-card .tags span {
  background-color: #ddd;
  border-radius: 10px;
  padding: 0.3% 2%;
  font-size: 0.8rem;
}

.avatar {
  width: 48px;
  height: 48px;
  background: #d8d8ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 5%;
}

p,
h3 {
  margin: 0%;
}

.tabs span {
  cursor: pointer;
}

.tabs span.active {
  font-weight: bold;
}

.friend-card {
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  padding-right: 5%;
  gap: 5%;
}