.container {
  display: grid;
  gap: 20px;
  width: 100vw;
  max-width: 1500px;
  margin-top: 1%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: max-content;
  justify-items: center;
  justify-self: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10b3c6;
  color: white;
  border-radius: 40px;
  width: 40%;
  aspect-ratio: 2;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.buttonAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 25px;
}

.valider,
.retour {
  border-radius: 75px;
  background-color: #0AB1BD;
  color: white;
  border: none;
  padding: 21px 36px;
  font-size: 1.575rem;
  min-height: 69px;
  cursor: pointer;
  box-shadow: 0 12px 0 #087b86;
}

.valider:hover,
.retour:hover {
  background-color: #fff;
  color: #087b86;
  box-shadow: 0px 8px 2px #CACACABF;
}

.retour {
  margin-left: 1%;
  margin-top: 1%;
}

.fin-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;

}

div.actions-fin {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  align-items: stretch;
}

.quiz-réalisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 100%;
}

p.fin {
  justify-self: center;
  font-size: 25px;
  font-weight: bold;
}

.quiz-réalisation button {
  border-radius: 75px;
  background-color: #0AB1BD;
  color: white;
  border: none;
  padding: 21px 36px;
  font-size: 1.575rem;
  min-height: 69px;
  cursor: pointer;
  box-shadow: 0 12px 0 #087b86;
}

.quiz-réalisation button:hover {
  background-color: #fff;
  color: #087b86;
  box-shadow: 0px 8px 2px #CACACABF;
}

.quiz-reactions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
}

.quiz-reactions .reaction {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 20px;     
  border-radius: 20px;
  font-size: 1.7rem;
  cursor: pointer;
  border: none;
  color: white;            
}


.quiz-reactions .like {
  background-color: #31c414bf;  
  box-shadow: 0px 10px 2px #22810ebf;
}

.quiz-reactions .dislike {
  background-color: #c62828;  /* fond rouge foncé */
  box-shadow: 0px 10px 2px #8a1c1c;
}

.quiz-reactions .reaction:hover {
  background-color: #ff1f1f; /* légèrement plus clair au survol */
  color: white;
}

.quiz-reactions .like:hover {
  background-color: #fff;
  color: #087b86;
  box-shadow: 0px 8px 2px #cacacabf;
}

.quiz-reactions .dislike:hover {
  background-color: #fff;
  color: #087b86;
  box-shadow: 0px 8px 2px #cacacabf;
}

#disabled {
  background-color: rgb(173, 173, 173);
  box-shadow: 0px 8px 2px #747474bf;
  opacity: 0.65;
  box-shadow: none; /* enlève l'effet relief */
  transform: none; /* pas d'animation */
}

#disabled:hover {
  color: white;
  cursor: not-allowed;
}
